h6{
    color: #333;
}
.case{
    width: 100%;
}
/*lev1标题*/
.case .wrap_lev1{
    width: 50%;
    margin: 1% auto;
}

.case .wrap_lev1 .case_lev1{
    overflow: hidden;
    width: 100%;
}

.case .wrap_lev1 .case_lev1 li{
    float: left;
    width: 20%;
    height: 30px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    color: #4cae4c;
    cursor: pointer;
}
.case .wrap_lev1 .case_lev1 li:nth-child(1){
    border-left: 1px solid #000;
}




/*lev2*/
.case .wrap_lev2{
    width: 98%;
    margin: 0 auto;
}

.case .wrap_lev2 .left{
    width: 100%;
}




/*既往史*/
.case .wrap_lev2 .left .beforeCaseUl{
    width: 100%;
}

.case .wrap_lev2 .left .beforeCaseUl>li{
    display: inline-block;
    width: 50%;
    height: 90px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
    color: #000;
}


.case .wrap_lev2 .left .beforeCaseUl>li:nth-child(2n+1){
    height: 90px;
    border-left: 1px solid #000;
    box-sizing: border-box;
}
.case .wrap_lev2 .left .beforeCaseUl>li:last-child{
    width: 100%;
    height: 135px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.case .wrap_lev2 .left .beforeCaseUl>li:last-child textarea{
    width: 95%;
    margin: 0 auto;
}

.case .wrap_lev2 .left .beforeCaseUl>li select{
    display: block;
    width: 25%;
    margin: 0 auto;
}

.case .wrap_lev2 .left .beforeCaseUl>li input{
    width: 25%;
    height: 30px;
    line-height: 30px;
}



/*既往史,用什么药物*/
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1){
    width: 100%;
    border: 0px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul{
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul li{
    display: inline-block;
    width: 50%;
    padding-bottom: 1%;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul li:nth-child(2n + 1){
    border-left: 1px solid #000;
}

.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul li input{
    width: 40%;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul li:last-child{
    width: 100%;
    height: 125px;
}

.case .wrap_lev2 .left .beforeCaseUl li:nth-child(1) ul li textarea{
    width: 95%;
    margin: 0 auto;
}
/*既往史,过敏*/
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2){
    width: 100%;
    border: 0px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul{
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul li{
    float: left;
    width: 33.3%;
    padding-bottom: 1%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul li:nth-child(3n + 1){
    border-left: 1px solid #000;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul li:last-child{
    width: 100%;
    height: 125px;
    margin-bottom: 5%;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul li select{
    width: 40%;
}
.case .wrap_lev2 .left .beforeCaseUl li:nth-child(2) ul li textarea{
    margin: 0 auto;
    width: 95%;
}


/*病症*/
.case .wrap_lev2 .left .nowCaseUl{
    width: 100%;
    display: none;
}

.case .wrap_lev2 .left .nowCaseUl>li{
     width: 100%;
     margin-bottom: 2%;
     font-size: 16px;
     text-align: center;
 }

.case .wrap_lev2 .left .nowCaseUl>li ul{
    width: 100%;
    border: 1px solid #000;
    border-right: 0px solid #000;
    border-bottom: 0px solid #000;
    box-sizing: border-box;
    margin-top: 1%;
    text-align: center;
    overflow: hidden;
}

.case .wrap_lev2 .left .nowCaseUl>li ul li{
    float: left;
    width: 50%;
    height: 90px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
}
.case .wrap_lev2 .left .nowCaseUl>li ul li h6{
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.case .wrap_lev2 .left .nowCaseUl>li ul li select{
    width: 25%;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.case .wrap_lev2 .left .nowCaseUl>li ul li input{
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.case .wrap_lev2 .left .nowCaseUl>li ul li textarea{
    width: 60%;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}


/*体征*/
.case .wrap_lev2 .left .physicaSignUl{
    display: none;
    width: 100%;
    border: 1px solid #000;
    border-right: 0px solid #000;
    border-bottom: 0px solid #000;
    overflow: hidden;
}

.case .wrap_lev2 .left .physicaSignUl>li{
    float: left;
    width: 50%;
    height: 90px;
    padding-top: 0.5%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 14px;
    text-align: center;
}

.case .wrap_lev2 .left .physicaSignUl>li input {
    margin: 1% auto;
}
.case .wrap_lev2 .left .physicaSignUl>li select{
    display: block;
    width: 25%;
    margin: 1% auto;
}
