/*状态按钮*/
.statusBtn{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.statusBtn button{
    background: #eee;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
}
.statusBtn textarea{
    position: absolute;
    top: 0px;
    width: 500px;
    height: 30px;
}

/*类*/
.app{
position: relative;
padding-left: 20px;
padding-right: 20px;
}
.app .levelOne{
float: left;
}
.app .levelOne .title{
width: 100px;
height: 30px;
line-height: 30px;
border: 1px solid #000;
text-align: center;
}
.app .levelOne .levelTwo{
position: absolute;
top: 60px;
left: 20px;
display: none;
width: 35%;
}
.app .levelOne .levelTwo .levelTwoUl>li{
/*height: 40px;*/
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
}
.app .levelOne .levelTwo .levelTwoUl>li:last-child{
border-bottom: 1px solid #000;
}
.app .levelOne .levelTwo .levelTwoUl>li{
line-height: 40px;
}
.app .levelOne .levelTwo .levelTwoUl>li .levelThree{
position: absolute;
top: 0;
left: 104%;
width: 170%;
display: none;
}
.app .levelOne .levelTwo .levelTwoUl>li .levelThree .levelThreeUl>li{
/*height: 40px;*/
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
}
.app .levelOne .levelTwo .levelTwoUl>li .levelThree .levelThreeUl>li:last-child{
border-bottom: 1px solid #000;
}

/*每个条目样式*/
/*复选框样式*/
.checkboxLi{
overflow: hidden;
}
.checkboxLi>p{
float: left;
width: 36%;
}
.checkboxLi .checkboxForm{
float: left;
width: 64%;
}
/*单选按钮组样式*/
.radiosLi{
overflow: hidden;
}
.radiosLi>p{
float: left;
width: 36%;
}
.radiosLi .radiosForm{
float: left;
width: 64%;
}
/*输入框样式*/
.caseItemLi{
overflow: hidden;
}
.caseItemP{
float: left;
width: 36%;
}
.caseItemForm{
float: left;
width: 64%;
}
label{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-right: 10px;
}

/*显示默认图片轮播图*/
.show-big-image{
    margin-right: 50px;
}
.imgUpload{
    width: 100%;
    height: 301px !important;
}
.imgUpload p{
    overflow: hidden;
    margin-bottom: 10px;
}
.imgUpload p a{
    float: left;
    width: 100px;
    height: 40px;
    /*border: 1px solid #000;*/
    /*box-sizing: border-box;*/
    background: #ECECEC;
    text-align: center;
}
.imgUpload p button{
    float: right;
    width: 100px;
    height: 40px;
    /*border: 1px solid #000;*/
    /*box-sizing: border-box;*/
    background: #ECECEC;
    text-align: center;
}
.imgUpload div{

}
.imgUpload div ul{
    position: relative;
    height: 250px;
    z-index: -999;
}
.imgUpload div ul li{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.imgUpload div ul li img{
    width: 100%;
    height: 250px;
}
.input-img-upload{
    display: inline !important;
    width: 50%;
}
/*其它*/
.main_disease_table tr{
    width: 100%;
}
.main_disease_table td{
    width: 22%;
    border: 1px solid #666;
    text-align: center;
}
.eventLi{
    border-bottom: 1px solid #333;
    margin-bottom: 22px;
}
.newEventLi{
    border:1px solid #fff !important;
    margin-bottom: 20px;
}
.treatment_textarea:not(:first-child){
    position: relative;
    left: 36%;
}